#css { color: yellow; }
#import { color: red; }
.mixin {
  height: 10px;
  color: red;
}
.imported-from-full-path { color: green; }
#import-test {
  height: 10px;
  color: red;
  width: 10px;
  height: 30%;
}
